body{

    background-image: url(https://img.freepik.com/vector-gratis/moderno-fondo-textura-acuarela-verde-suave_1055-18276.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}